h2 {
  text-align: center;
}
body{
  background-color:#c0f2fa;
}
nav {
  list-style-type:none;
  position: fixed;
  background-color: skyblue;
width: 100%;
margin: 0;
padding: 0;
top: 0;
left:0;
}

li{
  display: inline;
  padding: 3%;
  margin: 5px;
    float: center;
}

a {
  color: blue;
  text-decoration: none;
  font-size: 120%;
 
}

li a:hover{
  background-color: navy;
  font-size: 25px;
}
